DISCORD_TOKEN=YOUR_BOT_TOKEN_HERE
DISCORD_CLIENT_ID=YOUR_CLIENT_ID_HERE
DISCORD_GUILD_ID=YOUR_GUILD_ID_HERE
DISCORD_OWNER_ID=YOUR_OWNER_ID_HERE
ADMIN_ROLE_IDS=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
FABRIX_API_KEY=
LYRICS_API_URL=https://lyrics.lewdhutao.my.eu.org/youtube/lyrics

ENABLE_MUTE_LOGGING=true
NODE_ENV=production
